.homeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flashing{
    animation: flash 1s infinite;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}